@use '../../../constants/Css/colors.scss' as c;

@media screen and (max-width: 1120px) {
    .svgs {
        display: none;
    }
    .image {
        display: none;
    }
}
@media screen and (max-width: 1050px) {
    .right{
        display: none;
    }
}

.svgs {
    position: absolute;
}

.mainContainer {
    background: c.$secondaryColor;
    color: c.$primaryColor;
}

.right {
    color: c.$tertiaryColor;
}
