@use '../../../constants/Css/colors.scss' as c;

@media screen and (max-width: 1200px) {
    .right {
        display: none;
    }
    .image {
        display: none;
    }
}

.svgs {
    position: absolute;
}

.mainContainer {
    background: c.$secondaryColor;
    color: c.$primaryColor;
}

.right {
    color: c.$tertiaryColor;
}
