@use '../../../constants/Css/colors.scss' as c;

.mainContainer {
    background: c.$secondaryColor;
    color: c.$primaryColor;
}

.right {
    color: c.$tertiaryColor;
}

@media  screen and (max-width: 768px) {
    .right {
        display: none;
    }
}

.svgs {
    position: absolute;
}